$default-text-color: black;
$default-background-color: white;
$circle-radius: 50%;

.wrapper {


    display: flex;
    flex-wrap: wrap;
    margin-right: 20%;
    margin-top: 2%;
    margin-left: 30%;
    margin-bottom: 10%;



    .mainEditor {


        h1 {
            color: red;
            font-weight: bold;
        }

        .discription {
            margin-top: 10px;
            font-size: medium;
            color: black;
            width: 520px;
        }

        font-size: 100px;
        margin-top: 20px;
        background-color: white;
        width: 550px;

        .name-and-lastname {
            display: flex;
            align-items: center;

        }



        .setUserProfilePhoto {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 10px;

            .UserPhoto {
                justify-content: center;
                align-items: center;

                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background: transparent !important;
                }
            }

            .setUserProfilePhoto-btn {
                display: flex;
                justify-content: center;
                align-items: center;

                .btn-change {
                    width: 150px;
                    height: 50px;
                    border-radius: 15px;
                    font-size: 18px;
                    font-weight: bold;
                    cursor: pointer;
                    border: black !important;

                    &:hover {
                        background: rgb(210, 189, 189);
                    }
                }
            }
        }
    }


    .GenderOption {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .GenderOptionLabel {
        font-size: large;
        font-weight: bold;
        margin-bottom: 10px;
        /* Đặt khoảng cách dưới giữa label và select */
    }

    select {
        padding: 10px;
        border: 2px solid;
        border-radius: 10px;
        font-size: 16px;
        width: 240px;
        transition: border-color 0.3s ease-in-out;
    }

    @media (max-width: 768px) {
        margin-right: 10%;
        margin-left: 10%;

        .discription {
            width: 100%;
        }

        .mainEditor {
            width: 100%;

            .setUserProfilePhoto {
                grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            }

            .setUserProfilePhoto-btn {
                .btn-change {
                    width: 100px;
                    height: 40px;
                    font-size: 16px;
                }
            }
        }
    }
}