// .wrapper {
//     width: 356px;
//     padding: 20px 0 26px 8px;
//     margin-left: -18px;
// }
.wrapper {
    width: 250px;
    // height: var(--default-layout-height);
    padding: 20px 8px 26px 8px;
    border-right: 1px solid #f0f0f0;
}
