.wrapper {
    display: flex;
    width: calc(100vw - 270px);
}
.container-changepassword {
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
    width: 50%;

    .discription {
        margin: 10px 0;
    }
    .changeBtn {
        // margin: 10px;
        margin-top: 20px;
        float: right;
    }
}

.Title {
    font-size: 30px;
    color: var(--color-red);
    font-weight: bold;
    margin-bottom: 20px;
    &.dark {
        color: var(--color-blue-pastel);
    }
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 400px;
    height: 200px;
    object-fit: cover;
}

@media screen and (max-width: 1030px) {
    .wrapper {
        .container-infoProfile {
            width: 45%;
        }
        .image {
            width: 300px;
            height: 150px;
        }
    }
}
@media screen and (max-width: 915px) {
    .wrapper {
        .container-infoProfile {
            width: 100%;
        }
        .image-container {
            display: none;
        }
    }
}
