.wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 10%;


    .Main {
        margin-left: 20%;
        margin-top: 20px;
        background-color: white;
        width: 550px;
    }
}



.Button-change-password {
    width: 150px;
    height: 50px;
    margin: 10px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: black !important;


    &:hover {
        background: rgb(210, 189, 189);
    }
}

.Title {
    font-size: 30px;
    color: red;
    font-weight: bold;
}