$default-text-color: black;
$default-background-color: white;
$circle-radius: 50%;

.container-accountsetting {
    margin-top: 20px;
    margin-left: 80px;
    background-color: white;
    width: 550px;

    h1 {
        font-size: 30px;
        color: red;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .discription {
        margin: 10px 0;
        font-size: medium;
        color: black;
        width: 560px;
    }

    .PrivateUserInfo {
        display: grid;

        .Title {
            margin-top: 20px;
            padding-left: 10px;
            font-size: 25px;
            font-weight: bold;
        }

        // .EmailInfo {}

        // .Password {}

        .Button-change-password {
            width: 150px;
            height: 50px;
            margin: 10px;
            border-radius: 15px;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            border: black !important;

            &:hover {
                background: rgb(210, 189, 189);
            }
        }

        .checkedPrivate {
            display: inline-flex;
            align-items: center;
            padding: 10px;

            .leftDiscription {
                color: black;
                font-size: 20px;
                font-weight: bold;
            }

            .rightDiscription {
                height: 65px;
            }
        }
    }
}
